@media (orientation: landscape) {
    ion-card {
      flex-direction: row;
    }
  }
  
  @media (orientation: portrait) {
    ion-card {
      flex-direction: column;
    }
  }

  ion-card {
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  ion-card-title {
    font-size: 24px;
    font-weight: bold;
  }

  ion-card-content {
    font-size: 16px;
    color: #333;
  }
  
  ion-card-content p {
    margin-bottom: 10px;
  }

  ion-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }