:host {
    ion-header {
      background: linear-gradient(to right, #232323, #000000);
      ion-title {
        font-family: 'Clash Display', sans-serif;
        font-weight: bold;
        color: #FFF;
      }
    }
  
    ion-content {
      --background: #232323;
    }
  
    .pokemon-card {
      align-items: center;
      background: #323232;
      border-radius: 10px;
      padding: 15px;
      color: #FFF;
      
      .pokemon-image {
        width: 100%;
        height: auto;
        }
  
    }
}

ion-card {
    align-items: center;
    text-align: center;
}

.no-favorites-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.no-favorites-message {
  padding: 20px;
  background-color: #444;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
}
