<ion-header>
  <ion-toolbar>
    <ion-title>
      Pokédex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pokemon of pokemonList" [routerLink]="['/details', pokemon.name]">
      <ion-thumbnail slot="start">
        <img [src]="getPokemonImage(pokemon.url)" alt="{{ pokemon.name }}">
      </ion-thumbnail>
      <ion-label>{{ pokemon.name }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
